.about {
    margin-bottom: 200px;

    @include media ($xs) {
        margin-bottom: 80px;
    }

    &__content {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    &__title {
        @include media ($xs) {
            font-size: 20px;
            margin-top: 80px !important;
            margin-bottom: 50px !important;
            font-family: Gotham Medium !important;
        }
    }

    &__left {
        color: #373737;
        font-size: 22px;
        font-style: normal;
        font-weight: 325;
        line-height: 150%;
        max-width: 964px;
        width: 100%;

        @include media ($xs) {
            font-size: 16px;
            justify-content: center;
            width: 285px;
        }
        /* 33px */

    }

    &__logo {
        @include media ($xs) {
            width: 235px;
            height: 60px;

            &-container {
                display: flex;
                justify-content: center;
            }
        }
    }
    
    &__right {
        @include media ($full) {
            display: none;
        }
    }

    &__number {
        font-size: 68px;
        font-family: Gotham Medium !important;

        @include media ($xs) {
            font-size: 48px;
            //font-family: Gotham Bold !important;
        }
    }

    &__center {
        margin: 48px 0 72px 0  !important;
    }

    &__advantages {
        display: flex;
        width: 100%;
        justify-content: space-between;
        flex-wrap: wrap;

        &-item {
            @include media ($full) {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-bottom: 20px;
            }
        }
    }
}