$columns: 7;
$column-width: 1fr;
$gutter: 24px;

@mixin grid($rows, $row-height) {
    display: grid;
    grid-template-columns: repeat($columns, $column-width);
    grid-template-rows: repeat($rows, $row-height);
    column-gap: $gutter;
    row-gap: $gutter;
    grid-auto-flow: row;
    justify-content: center;
    align-content: center;
}

.popular {
    margin-bottom: 200px !important;

    @include media($md) {
        margin-bottom: 80px !important;
    }

    &__title {
        @include media ($xs) {
            font-size: 20px;
            font-family: Gotham Medium !important;
            margin-bottom: 50px !important;
        }

        &-bottom {
            text-align: center;
            margin-top: 60px !important;
            display: flex;
            justify-content: center;
            gap: 10px;

            @include media ($xs) {
                width: 45%;
            }
        }

        &-item {
            font-family: Gotham Bold !important;
            font-size: 24px;

            @include media ($xs) {
                font-size: 14px;
            }
        }
    }

    &__gray {
        color: rgba(55, 55, 55, 0.50);
        font-family: Gotham;
        font-size: 24px;
        font-style: normal;
        font-weight: 350;
        line-height: normal;
    }

    &__link {
        color: #000;
        font-family: Gotham Bold !important;
        font-size: 22px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        @include media ($xs) {
            font-size: 16px !important;
            display: inline;
            height: 18px;
            border-bottom: 1px solid #000;
        }

        &:hover {
            &::after {
                width: 100% !important;
            }
        }

        &::after {
            content: '';
            display: block;
            height: 1px;
            background: #000;
            width: 0;
            transition: 500ms;

        }
    }

    &__text {
        @include media ($xs) {
            font-size: 12px;
        }
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
        position: absolute;
        z-index: -1;
        transition: 300ms;
    }

    &__row {
        @include grid(4, 185px);
    }

    &__flex {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;
    }

    &__item {
        position: relative;
        display: block;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        border-radius: 10px;
        transition: 300ms;

        @include media ($xs) {
            width: 45%;
            height: 150px;
            //margin-bottom: 20px;

            &:nth-of-type(2n) {
                margin-top: 30px;
            }
        }

        &:hover {
            & > img {
                transform: scale(1.1);
            }
        }

        &-container {
            width: 90%;
            height: 90%;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            color: #fff;
        }

        &:nth-of-type(1) {
            grid-column: 1/3;
            grid-row: 1;

            @include media ($md) {
                grid-column: 1/4;
            }
        }
        &:nth-of-type(2) {
            grid-column: 1/3;
            grid-row: 2;
            @include media ($md) {
                grid-column: 1/4;
            }
        }
        &:nth-of-type(3) {
            grid-column: 3 / 5;
            grid-row: 1 / 3;

            @include media ($md) {
                grid-column: 4/8;
                grid-row: 1/3;
            }
        }
        &:nth-of-type(4) {
            grid-column: 5 / 8;
            grid-row: 1 / 3;

            @include media ($md) {
                grid-column: 1/4;
                grid-row: 3 / 5;
            }
        }
        &:nth-of-type(5) {
            grid-column: 1 / 3;
            grid-row: 3 / 5;

            @include media ($md) {
                grid-row: 4 / 4;
                grid-column: 6 / 8;
            }
        }
        &:nth-of-type(6) {
            grid-column: 3 / 6;
            grid-row: 3 / 5;

            @include media ($md) {
                grid-row: 4 / 4;
                grid-column: 4/6;
            }
        }
        &:nth-of-type(7) {
            grid-column: 6 / 8;
            grid-row: 3 / 5;

            @include media ($md) {
                grid-row: 3 / 4;
                grid-column: 4 / 8;
            }
        }
    }
}