.catalog {
    &__card {
        margin-top: 50px;
        
        &-container {
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
        } 

        &-dropdown {
            border-radius: 10px !important;
            border: 1px solid rgba(55, 55, 55, 0.20) !important;
            background: #F6F6F6 !important;
            color: #373737 !important;
            font-family: Gotham;
            font-size: 16px;
            font-style: normal;
            font-weight: 325;
            line-height: normal;
        }

        &-map {
            color: #000;
            font-family: Gotham Bold !important;
            font-size: 22px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }

        &-sort {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 50px !important;
            flex-wrap: wrap;

            &-container {
                align-items: center;
                display: flex;
                gap: 80px;
                flex-wrap: wrap;
            }

            &-location {
                display: flex;
                gap: 30px;
                align-items: center;
            }

            &-price {
                display: flex;
                gap: 30px;
                align-items: center;
            }
        }
    }

    &__title {
        font-size: 32px;
        color: #373737;
        font-family: Gotham Bold !important;
        font-size: 20px;
        font-style: normal;
        font-weight: 350;
        line-height: normal;
    }
}