.blog__content {
    &-catalog {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 80px !important;
    }
    
    &-content {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    &-container {
        max-width: 1390px;
    }

    &-bottom {
        display: flex;
        justify-content: center;
    }

    &-item {
        max-width: 430px;
        width: 100%;
        margin-bottom: 55px;
    }

    &-img {
        max-width: 430px !important;
        width: 100% !important;
        height: 250px;
    }
}

.blog__title {
    color: #000;
    font-family: Gotham Bold !important;
    margin-bottom: 80px !important;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    @include media ($xs) {
        font-size: 26px;
    }
}